


<%= link_to "documents", documents_url if user_signed_in? and current_user.admin? %>
<br>
<%= link_to "subscriptions", user_labs_url if user_signed_in? and current_user.admin? %>


<br>






<% if user_signed_in? %>
	
	<p>Hello <strong><%= current_user.name %>! </strong></p>	

<h3> You subscribed to email list of following classes or labs: </h3>
	<% if current_user.user_labs.count > 0 %>

	<p>Use the class/lab links below to follow the class. There might be some home works, lab manuals or take home exams waiting for you to download then... Ah, do not forget the occasional surprises as well ... Keep in contact... </p>

	<table>
	  <tbody>
	    <% current_user.user_labs.each do |user_lab| %>
	      <tr>
	        <td><%= link_to user_lab.lab.name, user_lab.lab %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	<% else %>

		<p>no subscriptions</p>

		<P>To subscribe the email list of a class or lab please use link: <%= link_to "Class/Lab Subscriptions", labs_url %>. </p>

	<% end %>

<% else %>
	<h1>Weclome Students... </h1>

<p> This page is designed to facilitate Dr. Atilgan's connectivity with his students</p>
<p> Please email him for any concern: <%= link_to "erdinc.atilgan@gmail.com" %> </p>

<p> Once you sign up, you can subscribe to a class email list, and this site will email you when a document related to class activities is available to you for download. Of course, you will also recieve class anouncements and reminders automatically sent to your email.</p>

	<br>
	<%= button_to "Sign up here", new_user_registration_path, method: :get, class: 'button-signup' %> 
<% end %>




