
<p>
  <strong>Name:</strong>
  <%= link_to @document.name, "#" %>
</p>

<p>
  <strong>Lab:</strong>
  <%= @document.lab.name %>
</p>

<p>
  <strong>File Name:</strong>
  <%= @document.filename %>
</p>

<p>
  <strong>Content Type:</strong>
  <%= @document.content_type %>
</p>


<br>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
