
<% if current_user.admin? %>
	<%= link_to 'Edit', edit_lab_path(@lab) %> |
	<%= link_to 'Back', labs_path %>
	<br>
<% end %>


<h3>
  <!-- <strong>Name:</strong> -->
  <%= @lab.name %>
</h3>

<h4>
  <!-- <strong>College:</strong> -->
  <%= @lab.college %>
</h4>

<h3> Documents posted for this class / lab </h3>
<% if @lab.documents.count == 0 %>
	<p>currently none</p>
<% else %>
	<% @lab.documents.each do |document| %>
		<%= link_to document.name, document.doc_file.url %> <br><br>
	<% end %>
<% end %>
